@charset "UTF-8";
@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat/Montserrat-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Google Sans";
  src: url("/assets/fonts/GoogleSans/GoogleSans-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins/Poppins-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins/Poppins-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Open Sans";
  src: url("/assets/fonts/OpenSans/OpenSans_Condensed-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins/Poppins-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Volkhov";
  src: url("/assets/fonts/Volkhov/Volkhov-Bold.ttf");
  font-weight: 700;
}
:root {
  --white: #FFFFFF;
  --white-50: #F5F5F5;
  --white-100: #E5E5E5;
  --white-150: #dfd7f922;
  --grey: #686D77;
  --light-red: #DF6951;
  --light-red-100: #c84d34;
  --purple: #8A79DF;
  --gold: #F1A501;
  --light-blue: #5E6282;
  --dark: #212832;
  --dark-opacity: #2128328f;
  --black: #080809;
  --text-white: var(--white);
  --text-grey: var(--grey);
  --text-grey-400: #84829A;
  --text-light-red: var(--light-red);
  --text-purple: var(--purple);
  --text-light-blue: var(--light-blue);
  --text-blue: #181E4B;
  --text-blue-500: #39425D;
  --text-blue-700: #14183E;
  --text-dark: var(--dark);
  --text-black: var(--black);
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  background: none;
  border: none;
  box-sizing: border-box;
  font-size: inherit;
  font-style: inherit;
}

.wrapper {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

.decore {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  max-width: 760px;
}
.decore img {
  width: 100%;
}

/* Стили для модального окна */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  background: var(--white);
  max-width: 800px;
  border-radius: 12px;
  width: 100%;
  padding: 40px;
  transform: translate(-50%, -50%);
  animation: fade-in 0.5s;
}

.modal__video {
  width: 100%;
  border-radius: 12px;
}

.modal__close {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 36px;
  cursor: pointer;
  color: var(--dark);
}

/* Анимация для плавного появления модального окна */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  padding: 0 0 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 20px;
}

.swiper-pagination-bullet {
  background: var(--grey);
}

.swiper-pagination-bullet-active {
  background: var(--light-red);
}

.card {
  max-width: 315px;
  display: flex;
  align-items: start;
  flex-direction: column;
  border-radius: 24px;
  box-shadow: 0px 1.85185px 3.14815px 0px rgba(0, 0, 0, 0), 0px 8.14815px 6.51852px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.51852px 25.48148px 0px rgba(0, 0, 0, 0.01), 0px 64.81481px 46.85185px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
  position: relative;
}
.card__image {
  width: 315px;
  height: 400px;
}
.card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 24px;
}
.card__content {
  position: absolute;
  bottom: -1px;
  right: 0;
  z-index: 1;
  background: var(--white);
  width: 100%;
  padding: 20px;
  border-radius: 0 0 24px 24px;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 20px;
  transition: 0.6s all;
}
.card__heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.card__location {
  font-size: 18px;
  font-weight: 500;
  line-height: 124%;
  color: var(--text-light-blue);
  transition: 0.6s all;
}
.card__price {
  font-size: 18px;
  font-weight: 500;
  line-height: 124%;
  color: var(--text-light-blue);
  transition: 0.6s all;
}
.card__trips {
  display: flex;
  align-items: center;
  gap: 15px;
}
.card__time {
  font-size: 16px;
  font-weight: 500;
  line-height: 124%;
  color: var(--text-light-blue);
  transition: 0.6s all;
}
.card__icon {
  width: 20px;
  height: 20px;
  fill: var(--dark);
  transition: 0.6s all;
}

.card:hover .card__content {
  background: var(--light-red);
}

.card:hover .card__location {
  color: var(--text-white);
}

.card:hover .card__price {
  color: var(--text-white);
}

.card:hover .card__time {
  color: var(--text-white);
}

.card:hover .card__icon {
  fill: var(--white);
}

.steps__card {
  position: relative;
  padding: 20px 25px;
  border-radius: 26px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  box-shadow: 0px 1.85185px 3.14815px 0px rgba(0, 0, 0, 0), 0px 8.14815px 6.51852px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.51852px 25.48148px 0px rgba(0, 0, 0, 0.01), 0px 64.81481px 46.85185px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
  background: var(--white);
}
.steps__card::before {
  content: "";
  width: 300px;
  height: 300px;
  top: -20px;
  left: 18%;
  position: absolute;
  border-radius: 367px;
  opacity: 0.8;
  background: #59B1E6;
  filter: blur(75px);
  z-index: -1;
}
.steps__card-image {
  max-width: 320px;
}
.steps__card-image img {
  border-radius: 24px;
  width: 320px;
  height: 160px;
  object-fit: cover;
}
.steps__card-text {
  display: flex;
  flex-direction: column;
}
.steps__card-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 124.5%;
  color: var(--text-black);
}
.steps__card-info {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.steps__card-info span {
  font-size: 16px;
  font-weight: 500;
  line-height: 124.5%;
  color: var(--text-grey-400);
}
.steps__card-nav {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.steps__card-link {
  display: flex;
  width: max-content;
  padding: 12px;
  border-radius: 50%;
  background: var(--white-50);
  text-decoration: none;
}
.steps__card-icon {
  width: 14px;
  height: 14px;
  fill: #84829A;
}
.steps__card-statistic {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.steps__card-statistic svg {
  width: 16px;
  height: 16px;
}
.steps__card-statistic span {
  font-size: 16px;
  font-weight: 500;
  line-height: 124.5%;
  color: var(--text-grey-400);
}

@media screen and (max-width: 680px) {
  .card__image {
    width: 280px;
  }
}
@media screen and (max-width: 480px) {
  .card__image {
    width: 260px;
  }
  .steps__card {
    padding: 15px 20px;
    display: flex;
    gap: 15px;
  }
  .steps__card::before {
    content: "";
    width: 100px;
    height: 100px;
    top: -30px;
    left: 35%;
  }
  .steps__card-image {
    max-width: 260px;
  }
  .steps__card-image img {
    border-radius: 24px;
    width: 260px;
    height: 140px;
    object-fit: cover;
  }
  .steps__card-text {
    display: flex;
    flex-direction: column;
  }
  .steps__card-title {
    font-size: 18px;
    font-weight: 400;
    line-height: 124.5%;
    color: var(--text-black);
  }
  .steps__card-info {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .steps__card-info span {
    font-size: 16px;
    font-weight: 500;
    line-height: 124.5%;
    color: var(--text-grey-400);
  }
  .steps__card-nav {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .steps__card-link {
    display: flex;
    width: max-content;
    padding: 12px;
    border-radius: 50%;
    background: var(--white-50);
    text-decoration: none;
  }
  .steps__card-icon {
    width: 14px;
    height: 14px;
    fill: #84829A;
  }
  .steps__card-statistic {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
  .steps__card-statistic svg {
    width: 16px;
    height: 16px;
  }
  .steps__card-statistic span {
    font-size: 16px;
    font-weight: 500;
    line-height: 124.5%;
    color: var(--text-grey-400);
  }
}
.steps__card-heart {
  display: inline-block;
  cursor: pointer;
}
.steps__card-heart svg {
  width: 20px;
  height: 20px;
  stroke: #4152CA;
  fill: transparent;
  transition: 0.3s all;
}

#likeCheckbox {
  display: none;
}

#likeCheckbox:checked + .steps__card-heart svg {
  fill: #4152CA;
}

.header {
  position: sticky;
  top: -1px;
  background: var(--white);
  padding: 45px 0 25px 0;
  z-index: 2;
}
.header__content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav__collapse {
  width: 100%;
  display: flex;
  align-items: center;
}

.nav {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 60px;
}
.nav__link {
  position: relative;
  font-family: "Google Sans", sans-serif;
  text-decoration: none;
  font-size: 17px;
  font-weight: 400;
  color: var(--text-dark);
  transition: 0.6s all;
}
.nav__link:hover {
  color: var(--text-light-red);
}
.nav__link::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 3px;
  border-radius: 24px;
  background: var(--light-red);
  transition: 0.6s all;
}
.nav__link:hover::before {
  width: 100%;
}

.auth {
  margin-left: 85px;
  display: flex;
  align-items: center;
  gap: 50px;
}
.auth__link {
  position: relative;
  font-family: "Google Sans", sans-serif;
  text-decoration: none;
  font-size: 17px;
  font-weight: 400;
  color: var(--text-dark);
  transition: 0.6s all;
}
.auth__link:nth-child(1):hover {
  color: var(--text-light-red);
}
.auth__link:nth-child(1)::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 3px;
  border-radius: 24px;
  background: var(--light-red);
  transition: 0.6s all;
}
.auth__link:nth-child(1):hover::before {
  width: 100%;
}
.auth__link:nth-child(2) {
  display: inline-flex;
  cursor: pointer;
  text-decoration: none;
  padding: 9px 22px;
  border: 1px solid var(--dark);
  border-radius: 5px;
  background: transparent;
}
.auth__link:nth-child(2):hover {
  display: inline-flex;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid var(--light-red);
  background: var(--light-red);
  color: var(--text-white);
}

.lang {
  position: relative;
  margin-left: 40px;
}
.lang__selected {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.lang__text {
  font-family: "Google Sans", sans-serif;
  text-decoration: none;
  font-size: 17px;
  font-weight: 400;
  color: var(--text-dark);
}
.lang__icon {
  width: 24px;
  height: 24px;
}
.lang__dropdown {
  position: absolute;
  overflow: hidden;
  max-height: 0;
  top: 25px;
  transition: 0.6s all;
}
.lang__link {
  position: relative;
  font-family: "Google Sans", sans-serif;
  text-decoration: none;
  font-size: 17px;
  font-weight: 400;
  color: var(--text-dark);
  transition: 0.6s all;
}
.lang__link:hover {
  color: var(--text-light-red);
}
.lang__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  border-radius: 24px;
  background: var(--light-red);
  transition: 0.6s all;
}
.lang__link:hover::before {
  width: 100%;
}

.lang__dropdown.active {
  max-height: 200px;
}

.hamburger-menu {
  margin-left: auto;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.1875rem;
  box-sizing: border-box;
  position: relative;
  display: none;
}
.hamburger-menu span {
  display: inline-block;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 0.6875rem;
  right: 0;
  left: 0;
  border-radius: 0.625rem;
  background: var(--dark);
  transition: 0.6s all;
}
.hamburger-menu span::before {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  top: 0.375rem;
  right: 0;
  left: 0;
  border-radius: 0.625rem;
  background: var(--dark);
  transition: 0.6s all;
}
.hamburger-menu span::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  top: -0.375rem;
  right: 0;
  left: 0;
  border-radius: 0.625rem;
  background: var(--dark);
  transition: 0.6s all;
}

.hamburger-menu.active span {
  transform: rotate(135deg);
}
.hamburger-menu.active span::before {
  top: 0;
  transform: rotate(90deg);
}
.hamburger-menu.active span::after {
  width: 0;
  height: 0;
  top: 0;
}

@media screen and (max-width: 980px) {
  .header {
    border-bottom: 1px solid var(--light-blue);
  }
  .header__content {
    padding: 0 20px;
  }
  .hamburger-menu {
    display: block;
  }
  .nav__collapse {
    max-width: 0;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    position: absolute;
    top: 7rem;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 60px;
    background: var(--white);
    transition: 0.6s all;
  }
  .nav__collapse.active {
    max-width: 300px;
    overflow: hidden;
    box-shadow: -12px 22px 22px var(--dark-opacity);
  }
  .nav {
    width: 100%;
    padding: 30px 30px 0 30px;
    margin-left: 0;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 40px;
  }
  .auth {
    width: 100%;
    padding: 0 30px;
    margin-left: 0;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 30px;
  }
  .lang {
    width: 100%;
    padding: 0 30px;
    margin-left: 0;
  }
}
@media screen and (max-width: 620px) {
  .header {
    padding: 20px 0;
  }
  .header__logo {
    width: 100px;
  }
  .header__logo img {
    width: 100%;
  }
  .nav__collapse {
    top: 4.85rem;
  }
}
.footer {
  margin-top: 150px;
  margin-bottom: 50px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  gap: 60px;
  flex-wrap: wrap;
}
.footer__logo {
  width: 150px;
}
.footer__info {
  max-width: 210px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__desc {
  font-size: 13px;
  font-weight: 500;
  line-height: 124.5%;
  color: var(--text-light-blue);
}
.footer__nav {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
}
.footer__nav-item {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.footer__nav-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__nav-title {
  font-size: 21px;
  font-weight: 700;
  line-height: 124.5%;
  color: var(--text-black);
}
.footer__nav-link {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: var(--text-light-blue);
}
.footer__nav-link:hover {
  color: var(--text-blue);
}
.footer__nav-subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 124.5%;
  color: var(--text-light-blue);
}
.footer__nav-download {
  padding: 8px 18px;
  border: 1px solid var(--black);
  border-radius: 17.5px;
  background: var(--black);
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  transition: 0.6s all;
}
.footer__nav-download:hover {
  background: transparent;
}
.footer__nav-icon {
  width: 28px;
  height: 28px;
  fill: var(--white);
  transition: 0.6s all;
}
.footer__nav-text {
  display: flex;
  flex-direction: column;
}
.footer__nav-text h6 {
  font-size: 10px;
  font-weight: 700;
  color: var(--text-white);
  text-transform: uppercase;
  transition: 0.6s all;
}
.footer__nav-text p {
  font-size: 12px;
  font-weight: 700;
  color: var(--text-white);
  transition: 0.6s all;
}

.download {
  flex-direction: row;
  flex-wrap: wrap;
}

.social {
  display: flex;
  gap: 25px;
}
.social__link {
  padding: 9px;
  box-sizing: content-box;
  border-radius: 50%;
  background: var(--white);
  filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.1));
  transition: 0.8s all;
}
.social__link:hover {
  background: var(--light-red);
}
.social__icon {
  display: flex;
  width: 24px;
  height: 24px;
  fill: var(--black);
  transition: 0.6s all;
}

.social__link:hover .social__icon {
  fill: var(--white);
}

.footer__nav-download:hover .footer__nav-icon {
  fill: var(--black);
}

.footer__nav-download:hover .footer__nav-text h6 {
  color: var(--text-black);
}

.footer__nav-download:hover .footer__nav-text p {
  color: var(--text-black);
}

@media screen and (max-width: 1195px) {
  .footer {
    justify-content: center;
  }
  .footer__nav {
    justify-content: center;
  }
}
@media screen and (max-width: 580px) {
  .footer {
    margin-top: 80px;
    margin-bottom: 20px;
    gap: 40px;
  }
  .footer__nav {
    justify-content: center;
    gap: 40px;
  }
  .footer__nav-item {
    gap: 20px;
  }
  .footer__nav-title {
    font-size: 18px;
  }
  .footer__nav-link {
    text-decoration: none;
    font-size: 16px;
  }
}
.banner {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.banner__content {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 30px;
}
.banner__heading {
  max-width: 545px;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 24px;
}
.banner__subtitle {
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  color: var(--text-light-red);
  text-transform: uppercase;
}
.banner__title {
  font-family: "Volkhov";
  font-size: 80px;
  font-weight: 700;
  line-height: 89px;
  color: var(--text-blue);
  letter-spacing: -3.36px;
}
.banner__title-ru {
  font-family: "Volkhov";
  font-size: 44px;
  font-weight: 700;
  line-height: 45px;
  color: var(--text-blue);
  letter-spacing: -2.36px;
}
.banner__info {
  max-width: 540px;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 34px;
}
.banner__desc {
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  color: var(--text-light-blue);
}
.banner__buttons {
  display: flex;
  align-items: center;
  gap: 44px;
}
.banner__link {
  font-family: "Google Sans";
  display: inline-flex;
  cursor: pointer;
  text-decoration: none;
  padding: 19px 26px;
  border: 1px solid var(--gold);
  border-radius: 10px;
  background: var(--gold);
  font-size: 18px;
  font-weight: 500;
  color: var(--text-white);
  transition: 0.6s all;
}
.banner__link:hover {
  display: inline-flex;
  cursor: pointer;
  text-decoration: none;
  background: transparent;
  color: var(--gold);
}
.banner__button {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 20px;
}
.banner__text {
  font-size: 17px;
  font-weight: 500;
  line-height: normal;
  color: var(--text-grey);
  transition: 0.6s all;
}
.banner__icon {
  width: 52px;
  height: 52px;
  transition: 0.6s all;
}
.banner__image {
  max-width: 580px;
  width: 100%;
}
.banner__image img {
  width: 100%;
}

.banner__button:hover .banner__icon {
  opacity: 0.8;
}

.banner__button:hover .banner__text {
  color: var(--text-blue);
}

@media screen and (max-width: 980px) {
  .banner {
    margin-top: 40px;
  }
}
@media screen and (max-width: 680px) {
  .banner {
    padding: 0 20px;
  }
  .banner__content {
    display: flex;
    gap: 20px;
  }
  .banner__heading {
    display: flex;
    gap: 14px;
  }
  .banner__subtitle {
    font-size: 18px;
  }
  .banner__title {
    font-size: 60px;
    line-height: 69px;
  }
  .banner__title-ru {
    font-size: 34px;
    line-height: 43px;
    letter-spacing: -1.36px;
  }
  .banner__info {
    display: flex;
    gap: 24px;
  }
  .banner__desc {
    font-size: 14px;
  }
  .banner__buttons {
    display: flex;
    gap: 34px;
  }
  .banner__link {
    display: inline-flex;
    cursor: pointer;
    text-decoration: none;
    padding: 15px 22px;
    font-size: 16px;
  }
  .banner__button {
    display: flex;
    gap: 15px;
  }
  .banner__text {
    font-size: 15px;
  }
  .banner__icon {
    width: 42px;
    height: 42px;
  }
}
@media screen and (max-width: 480px) {
  .banner__content {
    display: flex;
    gap: 16px;
  }
  .banner__heading {
    display: flex;
    gap: 10px;
  }
  .banner__subtitle {
    font-size: 13px;
  }
  .banner__title {
    font-size: 45px;
    line-height: 59px;
  }
  .banner__title-ru {
    font-size: 28px;
    line-height: 30px;
  }
  .banner__info {
    display: flex;
    gap: 20px;
  }
  .banner__desc {
    font-size: 12px;
  }
  .banner__buttons {
    display: flex;
    gap: 24px;
  }
  .banner__link {
    display: inline-flex;
    cursor: pointer;
    text-decoration: none;
    padding: 12px 19px;
    font-size: 14px;
  }
  .banner__button {
    display: flex;
    gap: 10px;
  }
  .banner__text {
    font-size: 14px;
  }
  .banner__icon {
    width: 32px;
    height: 32px;
  }
}
.services {
  position: relative;
  margin-top: 105px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 65px;
}
.services__decore {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
.services__heading {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}
.services__subtitle {
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  color: var(--text-light-blue);
}
.services__title {
  font-family: "Volkhov";
  font-size: 50px;
  font-weight: 700;
  line-height: normal;
  color: var(--text-blue-700);
}
.services__row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}
.services__card {
  position: relative;
  padding: 45px;
  border-radius: 36px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 260px;
  background: var(--white);
  transition: 0.6s all;
}
.services__card::before {
  content: "";
  position: absolute;
  bottom: -35px;
  left: -35px;
  width: 100px;
  height: 0;
  border-radius: 30px 30px 10px 0px;
  background: var(--light-red);
  z-index: -1;
  transition: 0.6s all;
}
.services__card:hover {
  box-shadow: 0px 1.85185px 3.14815px 0px rgba(0, 0, 0, 0), 0px 8.14815px 6.51852px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.51852px 25.48148px 0px rgba(0, 0, 0, 0.01), 0px 64.81481px 46.85185px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
}
.services__card:hover::before {
  height: 100px;
}
.services__info {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}
.services__text {
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  color: var(--text-dark);
}
.services__desc {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: var(--text-light-blue);
}

@media screen and (max-width: 980px) {
  .services {
    padding: 0 40px;
    gap: 55px;
  }
  .services__decore img {
    width: 100px;
  }
  .services__subtitle {
    font-size: 16px;
  }
  .services__title {
    font-family: "Volkhov";
    font-size: 40px;
  }
}
@media screen and (max-width: 680px) {
  .services {
    gap: 45px;
  }
  .services__decore img {
    width: 100px;
  }
  .services__subtitle {
    font-size: 14px;
  }
  .services__title {
    font-family: "Volkhov";
    font-size: 34px;
  }
}
@media screen and (max-width: 460px) {
  .services {
    gap: 35px;
  }
  .services__subtitle {
    font-size: 12px;
  }
  .services__title {
    font-family: "Volkhov";
    font-size: 28px;
  }
  .services__card {
    padding: 30px;
  }
}
.destinations {
  position: relative;
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 60px;
}
.destinations__decore {
  position: absolute;
  top: 40%;
  right: -30px;
}
.destinations__heading {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
}
.destinations__subtitle {
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  color: var(--text-light-blue);
}
.destinations__title {
  font-family: "Volkhov";
  font-size: 50px;
  font-weight: 700;
  line-height: normal;
  color: var(--text-blue-700);
}

@media screen and (max-width: 980px) {
  .destinations {
    margin-top: 100px;
    padding: 0 20px;
  }
  .destinations__subtitle {
    font-size: 16px;
  }
  .destinations__title {
    font-family: "Volkhov";
    font-size: 40px;
  }
}
@media screen and (max-width: 1280px) {
  .destinations__decore {
    display: none;
  }
}
@media screen and (max-width: 680px) {
  .destinations {
    margin-top: 80px;
    gap: 40px;
  }
  .destinations__subtitle {
    font-size: 14px;
  }
  .destinations__title {
    font-family: "Volkhov";
    font-size: 34px;
  }
}
@media screen and (max-width: 460px) {
  .destinations {
    margin-top: 50px;
  }
  .destinations__subtitle {
    font-size: 12px;
  }
  .destinations__title {
    font-family: "Volkhov";
    font-size: 28px;
  }
}
.steps {
  display: flex;
  align-items: center;
  gap: 120px;
}
.steps__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.steps__heading {
  max-width: 511px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.steps__subtitle {
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  color: var(--text-light-blue);
}
.steps__title {
  font-family: "Volkhov";
  font-size: 50px;
  font-weight: 700;
  line-height: normal;
  color: var(--text-blue-700);
}
.steps__info {
  max-width: 395px;
  display: flex;
  flex-direction: column;
  gap: 45px;
}
.steps__item {
  display: flex;
  align-items: center;
  gap: 20px;
}
.steps__desc {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.steps__head {
  font-size: 16px;
  font-weight: 600;
  line-height: 124.5%;
  color: var(--text-light-blue);
}
.steps__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 124.5%;
  color: var(--text-light-blue);
}
.steps__achievement {
  position: absolute;
  right: -130px;
  bottom: 50px;
  padding: 20px 25px;
  border-radius: 18px;
  background: var(--white);
  display: flex;
  align-items: start;
  gap: 15px;
  box-shadow: 0px 1.85185px 3.14815px 0px rgba(0, 0, 0, 0), 0px 8.14815px 6.51852px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.51852px 25.48148px 0px rgba(0, 0, 0, 0.01), 0px 64.81481px 46.85185px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
}
.steps__achievement-avatar {
  max-width: 50px;
}
.steps__achievement-avatar img {
  width: 100%;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}
.steps__achievement-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.steps__achievement-heading {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.steps__achievement-subtitle {
  font-size: 14px;
  font-weight: 500;
  line-height: 124.5%;
  color: var(--text-grey-400);
}
.steps__achievement-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 124.5%;
  color: var(--text-black);
}
.steps__achievement-progress {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.steps__achievement-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 124.5%;
  color: var(--text-black);
}
.steps__achievement-text span {
  font-size: 14px;
  font-weight: 500;
  line-height: 124.5%;
  color: var(--text-purple);
}
.steps__achievement-line {
  content: "";
  position: relative;
  width: 160px;
  height: 5px;
  border-radius: 24px;
  background: var(--white-50);
}
.steps__achievement-line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 5px;
  border-radius: 24px;
  background: var(--purple);
}

@media screen and (max-width: 1220px) {
  .steps {
    display: flex;
    gap: 60px;
  }
}
@media screen and (max-width: 1080px) {
  .steps {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 80px;
  }
}
@media screen and (max-width: 920px) {
  .steps {
    padding: 0 20px;
  }
  .steps__subtitle {
    font-size: 16px;
  }
  .steps__title {
    font-size: 45px;
  }
  .steps__head {
    font-size: 16px;
    line-height: 124.5%;
  }
  .steps__text {
    font-size: 16px;
    line-height: 124.5%;
  }
}
@media screen and (max-width: 635px) {
  .steps {
    display: flex;
    gap: 80px;
  }
  .steps__achievement {
    display: none;
  }
}
@media screen and (max-width: 420px) {
  .steps {
    display: flex;
    gap: 40px;
  }
  .steps__subtitle {
    font-size: 14px;
  }
  .steps__title {
    font-size: 30px;
  }
  .steps__info {
    display: flex;
    gap: 25px;
  }
  .steps__head {
    font-size: 12px;
    line-height: 114.5%;
  }
  .steps__text {
    font-size: 10px;
    line-height: 114.5%;
  }
}
.comments {
  margin-top: 200px;
  padding: 0 20px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 80px;
}
.comments__content {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.comments__heading {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.comments__subtitle {
  font-size: 18px;
  font-weight: 600px;
  line-height: normal;
  color: var(--text-light-blue);
}
.comments__title {
  font-family: "Volkhov", sans-serif;
  font-size: 50px;
  font-weight: 700px;
  line-height: normal;
  color: var(--text-blue-700);
}
.comments__pagination {
  display: flex;
  align-items: center;
  gap: 25px;
  width: 82px;
  height: 12px;
}
.comments__pagination-bullet {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--white-100);
}
.comments__cards {
  position: relative;
}
.comments__item {
  position: relative;
  padding: 30px 65px 35px 35px;
  max-width: 505px;
  border-radius: 10px;
  background: var(--white);
  box-shadow: 0px 1.85185px 3.14815px 0px rgba(0, 0, 0, 0), 0px 8.14815px 6.51852px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.51852px 25.48148px 0px rgba(0, 0, 0, 0.01), 0px 64.81481px 46.85185px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
}
.comments__item img {
  position: absolute;
  width: 70px;
  top: -35px;
  left: -35px;
}
.comments__item-content {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.comments__item-quote {
  max-width: 400px;
  font-size: 16px;
  font-weight: 500;
  line-height: 200%;
  color: var(--text-light-blue);
}
.comments__item-author {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.comments__item-title {
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  color: var(--text-light-blue);
}
.comments__item-subtitle {
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  color: var(--text-light-blue);
}
.comments__slider {
  display: flex;
  align-items: start;
  gap: 50px;
}
.comments__arrows {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.comments__arrows-prev {
  cursor: pointer;
}
.comments__arrows-next {
  cursor: pointer;
}
.comments__arrows-icon {
  width: 24px;
  height: 24px;
}

.icon__disable {
  stroke: var(--white-100);
}

.icon__next {
  stroke: var(--dark);
}

.icon__prev {
  stroke: var(--dark);
}

.item__active {
  position: absolute;
  left: -48px;
  top: -85px;
  z-index: 1;
}

.bullet__active {
  background: var(--dark);
}

@media screen and (max-width: 1120px) {
  .comments {
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 80px;
  }
  .comments__item {
    padding: 40px 65px 35px 35px;
  }
  .comments__item img {
    left: 0;
  }
  .comments__content {
    text-align: center;
  }
  .comments__pagination {
    display: none;
  }
  .comments__slider {
    margin-top: 50px;
    justify-content: center;
  }
  .item__active {
    left: 0;
  }
}
@media screen and (max-width: 680px) {
  .comments {
    margin-top: 100px;
    display: flex;
    gap: 60px;
  }
  .comments__subtitle {
    font-size: 16px;
  }
  .comments__title {
    font-size: 35px;
  }
  .comments__item {
    padding: 40px 35px 25px 25px;
  }
  .comments__item-content {
    display: flex;
    gap: 15px;
  }
  .comments__item-quote {
    font-size: 14px;
  }
  .comments__item-title {
    font-size: 16px;
  }
  .comments__item-subtitle {
    font-size: 12px;
  }
  .comments__slider {
    display: flex;
    gap: 40px;
  }
  .comments__arrows {
    display: flex;
    gap: 30px;
  }
}
@media screen and (max-width: 480px) {
  .comments {
    margin-top: 80px;
    display: flex;
    gap: 80px;
  }
  .comments__item {
    padding: 20px 25px 15px 15px;
  }
  .comments__item img {
    width: 50px;
  }
  .comments__item-content {
    display: flex;
    gap: 15px;
  }
  .comments__item-quote {
    font-size: 11px;
  }
  .comments__item-title {
    font-size: 13px;
  }
  .comments__item-subtitle {
    font-size: 10px;
  }
  .comments__slider {
    display: flex;
    gap: 40px;
  }
  .comments__arrows {
    display: flex;
    gap: 30px;
  }
  .item__active {
    top: -60px;
  }
}
.collaborators {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}
.collaborators__item {
  max-width: 130px;
  padding: 20px 40px;
  box-sizing: content-box;
  transition: 0.6s all;
}
.collaborators__item:hover {
  border-radius: 10px;
  transform: scale(1.05);
  box-shadow: 0px 1.85185px 3.14815px 0px rgba(0, 0, 0, 0), 0px 8.14815px 6.51852px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.51852px 25.48148px 0px rgba(0, 0, 0, 0.01), 0px 64.81481px 46.85185px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
}
.collaborators__image {
  width: 100%;
  filter: grayscale(100%);
  transition: 0.6s all;
}

.collaborators__item:hover .collaborators__image {
  filter: grayscale(0%);
}

.subscribe {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 125px;
  width: 100%;
  padding: 80px 20px;
  border-radius: 129px 20px 20px 20px;
  background: var(--white-150);
}
.subscribe__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 75px;
}
.subscribe__title {
  max-width: 860px;
  font-size: 33px;
  font-weight: 600;
  line-height: 163%;
  color: var(--text-light-blue);
  text-align: center;
}
.subscribe__form {
  display: flex;
  align-items: center;
  gap: 25px;
}
.subscribe__input {
  padding: 25px 30px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
  background: var(--white);
}
.subscribe__icon {
  width: 21px;
  height: 18px;
}
.subscribe__item {
  width: 380px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  color: var(--text-blue);
}
.subscribe__item::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  color: var(--text-blue-500);
}
.subscribe__btn {
  cursor: pointer;
  padding: 23px 55px;
  border-radius: 10px;
  background: var(--light-red);
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: normal;
  color: var(--text-white);
  transition: 0.6s all;
}
.subscribe__btn:hover {
  background: var(--light-red-100);
}
.subscribe__decore:nth-of-type(1) {
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0.2;
  z-index: -1;
}
.subscribe__decore:nth-of-type(2) {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0.2;
  z-index: -1;
}
.subscribe__decore:nth-of-type(3) {
  position: absolute;
  right: -35px;
  top: -35px;
}

@media screen and (max-width: 1280px) {
  .subscribe__decore:nth-of-type(3) {
    display: none;
  }
}
@media screen and (max-width: 780px) {
  .subscribe {
    margin-top: 75px;
    border-radius: 20px;
    padding: 60px 20px;
  }
  .subscribe__content {
    gap: 55px;
  }
  .subscribe__title {
    font-size: 20px;
  }
  .subscribe__item {
    width: 200px;
  }
  .subscribe__input {
    padding: 20px 25px;
  }
  .subscribe__btn {
    padding: 14px 35px;
  }
  .subscribe__decore:nth-of-type(1) {
    width: 250px;
  }
  .subscribe__decore:nth-of-type(2) {
    width: 150px;
  }
}
@media screen and (max-width: 480px) {
  .subscribe {
    margin-top: 50px;
    padding: 40px 20px;
  }
  .subscribe__content {
    gap: 35px;
  }
  .subscribe__title {
    font-size: 12px;
  }
  .subscribe__item {
    width: 180px;
  }
  .subscribe__item::placeholder {
    font-size: 12px;
  }
  .subscribe__form {
    flex-direction: column;
  }
  .subscribe__input {
    padding: 12px 17px;
  }
  .subscribe__icon {
    width: 16px;
    height: 11px;
  }
  .subscribe__btn {
    padding: 10px 25px;
  }
  .subscribe__decore:nth-of-type(1) {
    width: 150px;
  }
  .subscribe__decore:nth-of-type(2) {
    width: 100px;
  }
}

/*# sourceMappingURL=style.css.map */
