@font-face {
  font-family: 'Google Sans';
  src: url('assets/fonts/GoogleSans/GoogleSans-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/Poppins/Poppins-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/Poppins/Poppins-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Open Sans';
  src: url('assets/fonts/OpenSans/OpenSans_Condensed-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/Poppins/Poppins-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Volkhov';
  src: url('assets/fonts/Volkhov/Volkhov-Bold.ttf');
  font-weight: 700;
}