.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  padding: 0 0 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 20px;
}

.swiper-pagination-bullet{
  background: var(--grey);
}

.swiper-pagination-bullet-active{
  background: var(--light-red);
}