:root{
  --white: #FFFFFF;
  --white-50: #F5F5F5;
  --white-100: #E5E5E5;
  --white-150: #dfd7f922;
  --grey: #686D77;
  --light-red: #DF6951;
  --light-red-100: #c84d34;
  --purple: #8A79DF;
  --gold: #F1A501;
  --light-blue: #5E6282;
  --dark: #212832;
  --dark-opacity: #2128328f;
  --black: #080809;

  --text-white: var(--white);
  --text-grey: var(--grey);
  --text-grey-400: #84829A;
  --text-light-red: var(--light-red);
  --text-purple: var(--purple);
  --text-light-blue: var(--light-blue);
  --text-blue: #181E4B;
  --text-blue-500: #39425D;
  --text-blue-700: #14183E;
  --text-dark: var(--dark);
  --text-black: var(--black);
}