:root{
  --white: #FFFFFF;
  --light-red: #DF6951;
  --gold: #F1A501;
  --light-blue: #5E6282;
  --dark: #212832;
  --dark-opacity: #2128328f;

  --text-white: var(--white);
  --text-grey: #686D77;
  --text-light-red: var(--light-red);
  --text-light-blue: var(--light-blue);
  --text-blue: #181E4B;
  --text-dark: var(--dark);
}