:root{
  --white: #FFFFFF;
  --light-red: #DF6951;
  --light-blue: #5E6282;
  --dark: #212832;

  --text-white: var(--white);
  --text-light-red: var(--light-red);
  --text-light-blue: var(--light-blue);
  --text-dark: var(--dark);
}